@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora&family=Nanum+Gothic&family=Prompt:ital,wght@0,400;1,200&family=Source+Sans+Pro:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*FONTS
font-family: 'Bebas Neue', cursive;
font-family: 'Lora', serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* #3BBA9C 

#2E3047
#43455C
#3C3F58
#707793
#FDFDFD
 */
 *{
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
    width: 100%;
    height: 53.2em;
    float: left;
    margin: 0;
    background-color: #000000;
  
}
.main{
    float: left;
    width: 100%;
    height: 47.8em;

    background-color: #24263a;
}
    .nav{
        width: 100%;
        float: left;
        height: 5em;
        background-color:#1b1c2b;;
        
    }
        .logo{
            width: 32%;
            padding-left: 3em;
          
            
        }
        .buts{
            display: flex;
            justify-content: space-around;
            width: 62%;
          
        }
        .nvback{
           width: 62em;
           height: 100%;
           display: flex;
           justify-content: space-between;
        }


        .dwloadback{
           
            width: 69%;
            background: none;
            height: 100%;
            display: flex;
            justify-content: center;
           

        }
        .cndwl{
            
            background: none;
        }
        .dwinfoback{
            width: 31%;
            background: none;
            height: 100%;
            display: flex;
            justify-content: left;
        }




    .con{
        margin-top: 3em;
        float: left;
        width: 100%;
        height: 36em;
        background-color: #34384d;
        display: flex;
        justify-content: left;
    }

      

            .dwl{
        
                margin-top: 12em;
                width: 33em;
                display: block;
                height: 15em;
                background: none;
                border-radius: 4.5em;
                
                -webkit-border-radius: 4.5em;
                -moz-border-radius: 4.5em;
                -ms-border-radius: 4.5em;
                -o-border-radius: 4.5em;
}

                .dwbut{
                    float: left;
                    width: 30em;
                    

                }
                .dwinfo{
                    margin-top: 1em;
                    float: left;
                    width: 24em;
                    height: 5em;
                    display: flex;
                    justify-content: center;
                    
                        }
                                .dvdesc{
                                    cursor: pointer;
                                    width: 20em;
                                    height: 3em;
                                    background-color: #707793;
                                    border-radius: 2em;
                                    display: flex;
                                    justify-content: center;
                                    transition: filter 500ms;
                                    -webkit-transition: filter 500ms;
                                    -moz-transition: filter 500ms;
                                    -ms-transition: filter 500ms;
                                    -o-transition: filter 500ms;
                                    filter: drop-shadow(0 0 3px #707793);
                                    -webkit-filter: drop-shadow(0 0 3px #707793);
                                    -webkit-border-radius: 2em;
                                    -moz-border-radius: 2em;
                                    -ms-border-radius: 2em;
                                    -o-border-radius: 2em;
}       
                                    .dvdesc:hover{
                                        filter:drop-shadow(0 0 20px #212443) ;
                                        -webkit-filter:drop-shadow(0 0 12px #707793) ;
}
                            #desc{
                                
                                font-size: 100%;
                                margin-top: 0.8em;
                                color: #FDFDFD;
                                transition: font-size 500ms;
                                font-family: 'Roboto', sans-serif;
                                -webkit-transition: font-size 500ms;
                                -moz-transition: font-size 500ms;
                                -ms-transition: font-size 500ms;
                                -o-transition: font-size 500ms;
}
                            #desc:hover{font-size: 110%;}
            .info{
               margin-top: 4.5em;
             
               width: 30em;
               height: 25em;
               box-shadow: -32px 32px 20px #111112;;
               background-color: #131416;
               border-radius: 2em 3.5em 2.5em 1.5em ;
               -webkit-border-radius: 2em 3.5em 2.5em 1.5em ;
               -moz-border-radius: 2em 3.5em 2.5em 1.5em ;
               -ms-border-radius: 2em 3.5em 2.5em 1.5em ;
               -o-border-radius: 2em 3.5em 2.5em 1.5em ;
               display: block;
      
}
                        .decin{
                            border-radius: 2em 3.5em 0em 0em ;
                            width: 100%;
                            height: 5.5em;
                            display: flex;
                            background-color: #111215;
                            justify-content: center;
                            -webkit-border-radius: 2em 3.5em 0em 0em ;
                            -moz-border-radius: 2em 3.5em 0em 0em ;
                            -ms-border-radius: 2em 3.5em 0em 0em ;
                            -o-border-radius: 2em 3.5em 0em 0em ;
}
                        .description{
                            width: 100%;
                            height: 14em;
                            background-color: #17181b;
                            display: flex;
                            justify-content: center;

                            }
                                .descback{
                                    width: 85%;
                                    
                                    height: 100%;
                                }
                        .author{
                            width: 100%;
                            height: 6em;
                            border-radius: 0em 0em 3.5em 2em ;
                            -webkit-border-radius: 0em 0em 3.5em 2em ;
                            -moz-border-radius: 0em 0em 3.5em 2em ;
                            -ms-border-radius: 0em 0em 3.5em 2em ;
                            -o-border-radius: 0em 0em 3.5em 2em ;
                            background-color: #111215;
                            display: flex;
                            justify-content: center;
}
                        #git{
                            margin-top: 0.5em;
                            font-size: 150%;
                        }


    .endbar{
        margin-top: 0em;
        width: 100%;
        float: left;
        height: 5.4em;
        display: flex;
        justify-content: left;
        background-color: #000000;
    }
    .end{
        color: #424242;
        margin-top: 1.8em;
        margin-left: 2em;
        font-family: 'Roboto', sans-serif;
    }

/*BUTTONS*/
        .nvbut{
            border: none;
            margin-top: 1em;
            width: 13.5em;
            height: 4em;
            border-radius: 1.5em;
            filter: drop-shadow(0 0 5px #3BBA9C);
            background-color:#3BBA9C;
            transition: filter 500ms;

            -webkit-border-radius: 1.5em;
            -moz-border-radius: 1.5em;
            -ms-border-radius: 1.5em;
            -o-border-radius: 1.5em;
            -webkit-filter: drop-shadow(0 0 5px #3BBA9C);
          
}   
.nvbut:hover{ filter: drop-shadow(0 0 10px #3BBA9C); -webkit-filter: drop-shadow(0 0 10px #3BBA9C); }
    .download{
        width: 80%;
        height: 8em;
        border: none;
        background-color:#48c9ab;
        border-radius: 3.5em;
        -webkit-border-radius: 3.5em;
        -moz-border-radius: 3.5em;
        -ms-border-radius: 3.5em;
        -o-border-radius: 3.5em;
        transition: background-color 500ms,filter 500ms;
        -webkit-transition: background-color 500ms,filter 500ms;
        -moz-transition: background-color 500ms,filter 500ms;
        -ms-transition: background-color 500ms,filter 500ms;
        -o-transition: background-color 500ms,filter 500ms;
        filter: drop-shadow(0 0 8px #33ffcf);
        -webkit-filter: drop-shadow(0 0 8px #33ffcf);
}
.download:hover{ background-color: #4eccaf; filter:drop-shadow(0 0 20px #4eccaf) ; -webkit-filter:drop-shadow(0 0 20px #4eccaf) ; }

/* TEXT*/
.intro{
    
    cursor: pointer;
    float: left;
    color: #FDFDFD;
    font-size: 180%;
    margin-top: 0.7em;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    transition: font-size 500ms;
    -webkit-transition: font-size 500ms;
    -moz-transition: font-size 500ms;
    -ms-transition: font-size 500ms;
    -o-transition: font-size 500ms;
}
.intro:hover{font-size: 188%;}
.but{
    font-size: 135%;
    font-family: 'Prompt', sans-serif;
    margin-top: 0.7em;
    color: #000000;
    transition: font-size 500ms;
    -webkit-transition: font-size 500ms;
    -moz-transition: font-size 500ms;
    -ms-transition: font-size 500ms;
    -o-transition: font-size 500ms;
}
.but:hover{margin-top: 0.6em; font-size: 150%;}
h2.dow{
    color: #000000;
    font-size: 230%;
    margin-top: 0.7em;
    transition: font-size 500ms;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    -webkit-transition: font-size 500ms;
    -moz-transition: font-size 500ms;
    -ms-transition: font-size 500ms;
    -o-transition: font-size 500ms;
}
h2.dow:hover{font-size: 270%;}
.fsinfo{
    cursor: pointer;
    float: left;
    color: #FDFDFD;
    font-size: 150%;
    margin-top: 1.2em;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}
.descri{
    width: 95%;
    font-size: 130%;
    font-family: 'Prompt', sans-serif;
    font-weight: normal;
    color: white;
}